/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Homepage
--------------------------------------------- */

.home-even, .home-odd {
  clear: both;
  font-size: 28px;
  overflow: hidden;
  padding: 190px 0 200px;
  text-align: center;
}

.home-even .widget, .home-odd .widget {
  margin-bottom: 40px;
}

.home-even {
  p:last-child, .widget:last-child {
    margin-bottom: 0;
  }
}

.home-odd {
  p:last-child, .widget:last-child {
    margin-bottom: 0;
  }
  color: #fff;
  a:hover, h1, h2, h3, h4, h5, h6, .featured-content .entry-title a, .widget-title {
    color: #fff;
  }
  .featured-content .entry-title a:hover {
    color: #f04848;
  }
}

.home-even p:last-child, .home-odd p:last-child {
  margin-bottom: 0;
}

.home-even {
  background-color: #fff;
}

.home-section-1, .home-section-3, .home-section-5 {
  background-attachment: fixed;
  background-color: #fff;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* Pricing Table
--------------------------------------------- */

.pricing-table {
  font-size: 22px;
  line-height: 1;
  h4 {
    border-bottom: 2px solid #000;
    color: #000;
    margin: -40px -40px 40px;
    padding: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .one-third {
    background-color: #fff;
    border: 2px solid #000;
    margin: 20px -2px;
    padding: 40px;
    width: 33.33%;
    &:nth-child(3n+1) {
      margin: 20px 0;
    }
    &:nth-child(3n+2) {
      margin-bottom: 0;
      margin-top: 0;
    }
    &:nth-child(3n) {
      margin: 20px 0;
    }
  }
  ul li {
    &::before {
      content: "\f139";
      display: inline-block;
      font: normal 20px/1 'dashicons';
      margin-right: 5px;
      margin-top: -2px;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
    }
    border-bottom: 1px dotted #ddd;
    color: #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  a.button {
    background-color: #000;
    border: 3px solid #000;
    color: #fff;
    &:hover {
      background-color: #f04848;
      border: 3px solid #f04848;
      color: #fff !important;
    }
  }
}

/* Content
--------------------------------------------- */

.content {
  float: left;
  width: 700px;
}

.page .content {
  padding-bottom: 50px;
}

.sidebar-content .content {
  float: right;
}

.full-width-content {
  .content {
    padding: 0 200px 50px;
    width: 100%;
  }
  &.parallax-home .content {
    padding: 0;
  }
}

/* Entries
--------------------------------------------- */

.entry {
  margin-bottom: 100px;
}

.sidebar .entry {
  margin-bottom: 40px;
}

.entry-content {
  ol, ul {
    margin-bottom: 30px;
    margin-left: 40px;
  }
  ol > li {
    list-style-type: decimal;
  }
  ul > li {
    list-style-type: disc;
  }
  ol ol, ul ul {
    margin-bottom: 0;
  }
  code {
    background-color: #000;
    color: #ddd;
  }
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
  font-size: 20px;
  margin-bottom: 0;
}

.entry-header {
  text-align: center;
  &::after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    margin: 0 auto 60px;
    padding-bottom: 30px;
    width: 25%;
  }
}

.sidebar .entry-header::after {
  display: none;
}

.entry-categories::before, .entry-tags::before {
  display: inline-block;
  font: normal 20px/1 'dashicons';
  margin-right: 5px;
  margin-top: 2px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.entry-categories::before {
  content: "\f318";
}

.entry-tags::before {
  content: "\f323";
}

.entry-categories, .entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
  border-top: 1px solid #000;
  padding: 40px 0;
  .widget {
    margin-bottom: 40px;
  }
  p:last-child, .widget:last-child {
    margin: 0;
  }
  li {
    list-style-type: none;
  }
}

/* Pagination
--------------------------------------------- */

.pagination {
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;
    a {
      background-color: #000;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 8px 12px;
      text-transform: uppercase;
      &:hover {
        background-color: #f04848;
        color: #fff;
      }
    }
  }
  .active a {
    background-color: #f04848;
    color: #fff;
  }
}

/* Content Boxes
--------------------------------------------- */

.content-box-blue, .content-box-gray, .content-box-green, .content-box-purple, .content-box-red, .content-box-yellow {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 30px;
}

.content-box-blue {
  background-color: #d8ecf7;
  border: 1px solid #afcde3;
}

.content-box-gray {
  background-color: #e2e2e2;
  border: 1px solid #bdbdbd;
}

.content-box-green {
  background-color: #d9edc2;
  border: 1px solid #b2ce96;
}

.content-box-purple {
  background-color: #e2e2f9;
  border: 1px solid #bebde9;
}

.content-box-red {
  background-color: #f9dbdb;
  border: 1px solid #e9b3b3;
}

.content-box-yellow {
  background-color: #fef5c4;
  border: 1px solid #fadf98;
}

/* Comments
--------------------------------------------- */

.comment-respond, .entry-comments, .entry-pings {
  margin-bottom: 100px;
}

p.comment-meta {
  margin-bottom: 40px;
}

.entry-comments {
  .comment, .comment-reply {
    margin-bottom: 40px;
  }
}

.comment-header {
  font-size: 20px;
}

.entry-comments .comment {
  border-bottom: 1px solid #000;
}

.comment-content, .entry-comments .comment {
  clear: both;
}

p.form-submit {
  margin: 0;
}

.entry-comments {
  .children .comment, .comment-author {
    margin: 0;
  }
  .children .comment {
    border: none;
  }
}

.comment-respond {
  label {
    display: block;
    font-weight: 700;
  }
  input {
    &[type="email"], &[type="text"], &[type="url"] {
      width: 100%;
    }
  }
}

.comment-list li, .ping-list li {
  list-style-type: none;
}

.entry-comments ul.children {
  margin-left: 40px;
}

.form-allowed-tags, .ping-list .reply {
  display: none;
}

.bypostauthor {}

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 24px;
}

